<a href="https://colab.research.google.com/github/Anubhav3084/Deep-Learning/blob/main/Deep_Learning_Application_using_Keras_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import pandas as pd

In [74]:
training_data = pd.read_csv("sales_data_training.csv")

## **Data Preprocessing**

In [75]:
training_data.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,0,1,0,1,0,0,132717,59.99
1,4.5,0,0,0,0,1,1,0,83407,49.99
2,3.0,0,0,0,0,1,1,0,62423,49.99
3,4.5,1,0,0,0,0,0,1,69889,39.99
4,4.0,1,0,1,0,1,0,1,161382,59.99

* The above data set represents the salse of a gaming company.
* **critic_rating :** game rating out of 5
* **is_action :** if the game is action game
* **is_portable :** if the game portable on mobile phone
* **is_role_playing :** if the game is role playing
* **is_sequal :** if the game is sequal of other game
* **is_sports :** if the game is sports based
* **suitable_for_kids :** if the game is suitable for kids
* **total_earnings :** total earning from this same
* **unit_price :** price of each unit

In [76]:
testing_data = pd.read_csv("sales_data_test.csv")

In [77]:
print(training_data.shape, testing_data.shape)

(1000, 10) (400, 10)

Since neural netowrk work best on scaled data, we will scale the whole data frame to (0,1)

In [78]:
from sklearn.preprocessing import MinMaxScaler

In [79]:
scaler = MinMaxScaler(feature_range=(0,1))

training_data_scaled = scaler.fit_transform(training_data)
testing_data_scaled = scaler.fit_transform(testing_data)

In [80]:
testing_data_df = pd.DataFrame(testing_data_scaled, columns=None)

In [81]:
testing_data_df.head(2)

          0    1    2    3    4    5    6    7         8    9
0  0.500000  1.0  1.0  1.0  0.0  1.0  0.0  1.0  0.895324  1.0
1  0.166667  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.159931  1.0

In [82]:
testing_data.head(2)

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,1,1,0,1,0,1,247537,59.99
1,2.5,0,0,0,1,1,0,0,73960,59.99

In [83]:
testing_data_df = pd.DataFrame(data=testing_data_df.values, columns=testing_data.columns)
testing_data_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,0.500000,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.895324,1.0
1,0.166667,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.159931,1.0
2,0.500000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.196837,1.0
3,0.666667,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.428944,0.0
4,0.000000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.226358,1.0

In [84]:
training_data_df = pd.DataFrame(data=training_data_scaled, columns=training_data.columns)
training_data_df.head(2)

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,0.500000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.374714,1.0
1,0.833333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.192425,0.5

## **Now we will create the Model**

In [85]:
import keras
from keras.models import Sequential
from keras.layers import *
from keras import models

In [86]:
model = Sequential()
model.add(Dense(50, input_dim=9, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(loss='mse', optimizer='adam')

## **Train the model**

In [87]:
# create inputs and outputs from the data
X = training_data_df.drop('total_earnings', axis=1).values
X

array([[0.5       , 1.        , 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.83333333, 0.        , 0.        , ..., 1.        , 0.        ,
        0.5       ],
       [0.33333333, 0.        , 0.        , ..., 1.        , 0.        ,
        0.5       ],
       ...,
       [0.83333333, 0.        , 1.        , ..., 0.        , 0.        ,
        1.        ],
       [0.5       , 1.        , 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.33333333, 1.        , 0.        , ..., 0.        , 1.        ,
        0.5       ]])

In [88]:
Y = training_data_df[['total_earnings']].values
Y[:5]

array([[0.37471396],
       [0.19242528],
       [0.11485185],
       [0.14245208],
       [0.48068243]])

In [89]:
model.fit(
    X,
    Y,
    epochs=50,
    shuffle=True,
    verbose=2
)

Epoch 1/50
32/32 - 0s - loss: 0.0457 - 459ms/epoch - 14ms/step
Epoch 2/50
32/32 - 0s - loss: 0.0046 - 64ms/epoch - 2ms/step
Epoch 3/50
32/32 - 0s - loss: 0.0016 - 67ms/epoch - 2ms/step
Epoch 4/50
32/32 - 0s - loss: 7.7224e-04 - 62ms/epoch - 2ms/step
Epoch 5/50
32/32 - 0s - loss: 4.4286e-04 - 61ms/epoch - 2ms/step
Epoch 6/50
32/32 - 0s - loss: 3.0500e-04 - 62ms/epoch - 2ms/step
Epoch 7/50
32/32 - 0s - loss: 2.0570e-04 - 64ms/epoch - 2ms/step
Epoch 8/50
32/32 - 0s - loss: 1.5583e-04 - 86ms/epoch - 3ms/step
Epoch 9/50
32/32 - 0s - loss: 1.1893e-04 - 60ms/epoch - 2ms/step
Epoch 10/50
32/32 - 0s - loss: 1.0498e-04 - 64ms/epoch - 2ms/step
Epoch 11/50
32/32 - 0s - loss: 8.3925e-05 - 63ms/epoch - 2ms/step
Epoch 12/50
32/32 - 0s - loss: 7.1449e-05 - 60ms/epoch - 2ms/step
Epoch 13/50
32/32 - 0s - loss: 6.9461e-05 - 68ms/epoch - 2ms/step
Epoch 14/50
32/32 - 0s - loss: 6.0254e-05 - 76ms/epoch - 2ms/step
Epoch 15/50
32/32 - 0s - loss: 5.2070e-05 - 63ms/epoch - 2ms/step
Epoch 16/50
32/32 - 0s - loss: 4.6648e-05 - 62ms/epoch - 2ms/step
Epoch 17/50
32/32 - 0s - loss: 4.4553e-05 - 59ms/epoch - 2ms/step
Epoch 18/50
32/32 - 0s - loss: 4.0748e-05 - 58ms/epoch - 2ms/step
Epoch 19/50
32/32 - 0s - loss: 4.1178e-05 - 63ms/epoch - 2ms/step
Epoch 20/50
32/32 - 0s - loss: 3.8719e-05 - 63ms/epoch - 2ms/step
Epoch 21/50
32/32 - 0s - loss: 3.6756e-05 - 61ms/epoch - 2ms/step
Epoch 22/50
32/32 - 0s - loss: 4.2164e-05 - 61ms/epoch - 2ms/step
Epoch 23/50
32/32 - 0s - loss: 3.8295e-05 - 68ms/epoch - 2ms/step
Epoch 24/50
32/32 - 0s - loss: 3.7259e-05 - 57ms/epoch - 2ms/step
Epoch 25/50
32/32 - 0s - loss: 2.9313e-05 - 63ms/epoch - 2ms/step
Epoch 26/50
32/32 - 0s - loss: 2.7408e-05 - 58ms/epoch - 2ms/step
Epoch 27/50
32/32 - 0s - loss: 2.9670e-05 - 68ms/epoch - 2ms/step
Epoch 28/50
32/32 - 0s - loss: 3.4262e-05 - 57ms/epoch - 2ms/step
Epoch 29/50
32/32 - 0s - loss: 3.1756e-05 - 67ms/epoch - 2ms/step
Epoch 30/50
32/32 - 0s - loss: 4.2102e-05 - 59ms/epoch - 2ms/step
Epoch 31/50
32/32 - 0s - loss: 2.6981e-05 - 58ms/epoch - 2ms/step
Epoch 32/50
32/32 - 0s - loss: 2.6936e-05 - 70ms/epoch - 2ms/step
Epoch 33/50
32/32 - 0s - loss: 2.7002e-05 - 60ms/epoch - 2ms/step
Epoch 34/50
32/32 - 0s - loss: 3.8790e-05 - 62ms/epoch - 2ms/step
Epoch 35/50
32/32 - 0s - loss: 2.6345e-05 - 65ms/epoch - 2ms/step
Epoch 36/50
32/32 - 0s - loss: 2.6726e-05 - 67ms/epoch - 2ms/step
Epoch 37/50
32/32 - 0s - loss: 2.4825e-05 - 59ms/epoch - 2ms/step
Epoch 38/50
32/32 - 0s - loss: 2.7080e-05 - 63ms/epoch - 2ms/step
Epoch 39/50
32/32 - 0s - loss: 2.8008e-05 - 58ms/epoch - 2ms/step
Epoch 40/50
32/32 - 0s - loss: 2.1559e-05 - 56ms/epoch - 2ms/step
Epoch 41/50
32/32 - 0s - loss: 2.1318e-05 - 61ms/epoch - 2ms/step
Epoch 42/50
32/32 - 0s - loss: 2.6404e-05 - 58ms/epoch - 2ms/step
Epoch 43/50
32/32 - 0s - loss: 2.0262e-05 - 58ms/epoch - 2ms/step
Epoch 44/50
32/32 - 0s - loss: 1.9816e-05 - 77ms/epoch - 2ms/step
Epoch 45/50
32/32 - 0s - loss: 1.9958e-05 - 66ms/epoch - 2ms/step
Epoch 46/50
32/32 - 0s - loss: 2.1174e-05 - 61ms/epoch - 2ms/step
Epoch 47/50
32/32 - 0s - loss: 2.0865e-05 - 59ms/epoch - 2ms/step
Epoch 48/50
32/32 - 0s - loss: 2.6853e-05 - 62ms/epoch - 2ms/step
Epoch 49/50
32/32 - 0s - loss: 1.9624e-05 - 60ms/epoch - 2ms/step
Epoch 50/50
32/32 - 0s - loss: 2.3670e-05 - 58ms/epoch - 2ms/step

## **Testing the model**

In [90]:
X_test = testing_data_df.drop('total_earnings', axis=1).values
Y_test = testing_data_df[['total_earnings']].values

In [91]:
test_error_rate = model.evaluate(X_test, Y_test, verbose=0)
test_error_rate

0.0011732922866940498

## **Predicting using the model**

In [92]:
X_new = pd.read_csv("proposed_new_product.csv")
X_new

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,unit_price
0,0.7,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.8

In [93]:
earning = model.predict(X)
earning[0][0]

0.3784256

To get the actual price scale back

## **Saving and loading models**

In [94]:
from tensorflow.keras.models import load_model

In [95]:
model.save("trained_model.h5") # both the structure and weights are saved

In [96]:
model1 = load_model("trained_model.h5")

In [97]:
model1.predict(X_new)[0][0]

0.8589165